html,
body {
  height: 100%;
  min-height: 100%;
}
.bigAppDiv {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  background: url(../pics/coal-truck\ Ivan\ Diaz.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.smallAppDiv {
  z-index: 5;
  width: 75vw;
}
